footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 35px;
    margin: 0;
    font-size: 14px;
}
.footer-margin-top {
    margin-top: 20px;
}
.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer_links, .footer_contacts, .footer_about {
    width: 25%;
    font-weight: 300;
}
.footer_links li, .footer_contacts li{
    margin: 5px 0;
    padding: 3px 10px;
    transition: .3s;
    cursor: pointer;
}
footer a {
    color: #fff;
}
.footer_links li:hover, .footer_contacts li:hover{
    transition: .3s;
    transform: translateX(4px);
}
.footer_about p {
    margin-top: 8px;
    margin-left: 10px;
}

.footer_rights {
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
}